body{
	background-color: #f9f9f9;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
}

.margin-0{margin: 0;}
.padding-0{padding: 0;}

.height-70{line-height: 70px;}
.height-50{line-height: 50px;}
.height-30{line-height: 30px;}

.sidebar{
	position: fixed;
	background-color: #fff;
	overflow-y: auto;
	height:100%;
}

#jasper{
	font-weight: 300;
	text-align: center;
	font-family: "Helvetica Neue",sans;
	background-color: #3aaf85;
	color: #f9f9f9;
}

.navigation-widget{
	cursor: pointer;
	font-family: "Helvetica Neue",sans;
	padding: 10px 0px;
}

.navigation-widget:hover{
	background-color: #f6f6f6;
}

.navigation-widget > .row{
	margin: 0;
}

.border-right{
	border-right: 0.5px solid #f2f2f2;
}

.border-bottom{
	border-bottom: 0.5px solid #f2f2f2;
}

.navigation-icon{
	color: #3aaf85;
	font-size: 16px;
	text-align: center;
}

.navigation-text{
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	text-align: center;
}

#db-list{
	margin: 0px;
}

#db-list h4 {
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#db-list .active{
	background-color: #f7f7f7;
}

.db{
	font-weight: 300;
	font-family: "Helvetica Neue",sans;
}

.db:hover{
	background-color: #f6f6f6;
}

.action-bar{
	position: absolute;
	top: 0;
	z-index: 10;
	background-color: #fff;
	height: 70px;
	margin: 0;
	padding: 0;
}

.action-list{
	margin: 0;
	padding: 0;
}

.action-widget{
	cursor: pointer;
	font-family: "Helvetica Neue",sans;
	padding: 10px;
	height: 70px;
	text-align: center;
	display: inline-block;
	list-decoration: none;
	text-decoration: none;
}

.action-widget:hover{
	background-color: #f6f6f6;
}

.action-icon{
	color: #3aaf85;
	font-size: 16px;
	text-align: center;
}

.action-text{
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	text-align: center;
	color: #337ab7;
}

#content{
	margin-top: 70px;
}

#welcome-note{
	font-family: "Helvetica Neue",sans;
	background-color: #fff;
	box-shadow: 0px 0px 3px rgb(240,240,240);
	padding: 20px;
	margin: 15px 0px;
}

#create-db-btn{
	border-radius: 0px;
}

#notification{
	margin-top: 15px;
}

.table-content{
	margin: 0px;
	padding: 0px;
	max-height: 500px;
	overflow-x: auto;
}

.table-content th{
	padding-left:10px;
	border: 0px;
}

.table-content td{
	padding-left:10px;
	valign: middle;	
	border: 0px;
}

.table-content tr{
	min-height: 50px;
	background-color: #f5f5f5;
}

.table-content tr:nth-child(even){
	background-color: #fbfbfb;
}

.table-content .table-content-action{
	width: 50px;
	min-width: 50px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}

.table-content .table-content-action .table-content-action-icon{
	cursor: pointer;
}

.table-content .table-content-action:hover{
	background-color: #fefefe;
}

.table-content-action-icon{
	color: #337ab7
}

.table-elem{
	background-color: #f5f5f5;
	margin: 0;
}

.table-elem .border-right{
	border-right: 0.5px solid #fbfbfb;
}
.table-elem:nth-child(even){
	background-color: #fbfbfb;
}


.table-elem:nth-child(even) .border-right{
	border-right: 0.5px solid #f5f5f5;
}

.table-name{
	font-size: 16px;
}

.table-action{
	height: 50px;
	text-align: center;
	font-size: 16px;
	padding: 17px 0px;
}

.table-action:hover{
	background-color: #fdfdfd;
}

form#update-into-table-form table tr input{
	border-radius: 0px;
	min-height: 40px;
	padding: 5px;
	margin: 5px 0px;
	min-width: 300px;
	border: 0.5px solid #f5f5f5;
}

form#insert-into-table-form table tr input{
	border-radius: 0px;
	min-height: 40px;
	padding: 5px;
	margin: 5px 0px;
	min-width: 300px;
	border: 0.5px solid #f5f5f5;
}

table tr .col-type{
	font-weight: 300;
}

form#create-table-form input[type=text]{
	border-radius: 0px;
	min-height: 40px;
	padding: 5px;
	margin: 5px 0px;
	border: 0.5px solid #f5f5f5;
	background-color: #f0f0f0;
}

form#create-table-form select{
	border-radius: 0px;
	min-height: 40px;
	padding: 5px;
	margin: 5px 0px;
	border: 0.5px solid #f5f5f5;
	background-color: #f0f0f0;
	appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

form#create-table-form #table-name{
	margin-left: 50px;
}

#createTable .modal-body{
	overflow: auto;
}

form#create-table-form .add-coloumn-btn{
	float: left;
}

#createTable .modal-lg{
	width: calc( 100vw - 50px );
}

#updateTable .modal-lg{
	width: calc( 100vw - 50px );
}

form#update-table-form input[type=text]{
	border-radius: 0px;
	min-height: 40px;
	padding: 5px;
	margin: 5px 0px;
	border: 0.5px solid #f5f5f5;
	background-color: #f0f0f0;
}

form#update-table-form select{
	border-radius: 0px;
	min-height: 40px;
	padding: 5px;
	margin: 5px 0px;
	border: 0.5px solid #f5f5f5;
	background-color: #f0f0f0;
	appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

form#update-table-form #table-name{
	margin-left: 50px;
}

#updateTable .modal-body{
	overflow: auto;
}

form#update-table-form .add-coloumn-btn{
	float: left;
}

#showStructure .modal-lg{
	width: calc( 100vw - 50px );
}

#showStructure .modal-body{
	overflow: auto;
}

#showStructure table tr{
	min-height: 50px;
	background-color: #f5f5f5;
}

#showStructure table tr:nth-child(even){
	background-color: #fbfbfb;
}
