body{
	background-color: #f9f9f9;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
}

.margin-0{margin: 0;}
.padding-0{padding: 0;}

.height-70{line-height: 70px;}
.height-50{line-height: 50px;}
.height-30{line-height: 30px;}

.sidebar{
	position: fixed;
	background-color: #fff;
	overflow-y: auto;
	height:100%;
}

#jasper{
	font-weight: 300;
	text-align: center;
	font-family: "Helvetica Neue",sans;
	background-color: #3aaf85;
	color: #f9f9f9;
}

.navigation-widget{
	cursor: pointer;
	font-family: "Helvetica Neue",sans;
	padding: 10px 0px;
}
.navigation-widget > .row{
	margin: 0;
}

.border-right{
	border-right: 0.5px solid #f2f2f2;
}

.border-bottom{
	border-bottom: 0.5px solid #f2f2f2;
}

.navigation-icon{
	color: #3aaf85;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
}

.navigation-text{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
}

#db-list{
	margin: 0px;
}

#db-list h4 {
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#db-list .active{
	background-color: #f7f7f7;
}

.db{
	font-weight: 300;
	font-family: "Helvetica Neue",sans;
}

.db:hover{
	background-color: #f6f6f6;
}

.action-bar{
	position: absolute;
	top: 0;
	z-index: 10;
	background-color: #fff;
	height: 70px;
	margin: 0;
	padding: 0;
}

.action-bar .action-list{
	margin: 0;
	padding: 0;
}

.action-bar .action-widget{
	cursor: pointer;
	font-family: "Helvetica Neue",sans;
	padding: 10px;
	height: 70px;
	text-align: center;
	display: inline-block;
	list-decoration: none;
	text-decoration: none;
}

.action-icon{
	color: #3aaf85;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
}

.action-text{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
}

#content{
	margin-top: 70px;
}

#welcome-note{
	font-family: "Helvetica Neue",sans;
	background-color: #fff;
	box-shadow: 0px 0px 3px rgb(240,240,240);
	padding: 20px;
	margin: 15px 0px;
}

#create-db-btn{
	border-radius: 0px;
}

#notification{
	margin-top: 15px;
}

#table-list{
	margin: 15px 0px;
}

.table{
	background-color: #f5f5f5;
	margin: 0;
}

.table .border-right{
	border-right: 0.5px solid #fbfbfb;
}

.table:nth-child(even){
	background-color: #fbfbfb;
}

.table:nth-child(even) .border-right{
	border-right: 0.5px solid #f5f5f5;
}

.table-name{
	font-size: 16px;
}

.table-action{
	height: 50px;
	text-align: center;
	font-size: 16px;
	padding: 17px 0px;
}

.table-action:hover{
	background-color: #fdfdfd;
}

#cancel-db, #create-db-input, #create-db-submit{
	display: none;
}





